<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VCMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <VCMS.Properties.Settings>
            <setting name="GlobalFontColor" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="GlobalBackColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="GlobalFontStyle" serializeAs="String">
                <value>Tahoma, 9.75pt</value>
            </setting>
            <setting name="GlobalWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="GlobalWindowLocation" serializeAs="String">
                <value>100, 70</value>
            </setting>
            <setting name="GlobalWindowSize" serializeAs="String">
                <value>1000, 500</value>
            </setting>
        </VCMS.Properties.Settings>
    </userSettings>
</configuration>